<div class="container-fluid-home">


	<div id="carouselExampleIndicators" class="carousel slide custom-carousel" data-bs-ride="false" data-bs-wrap="true">
		<h1 class="subtitulo mt-3">Lançamentos</h1>
		<div class="carousel-indicators">
			<% for (let contador=0; contador < jogos.length; contador++) { %>
				<% if (contador===0) { %>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= contador %>"
						class="active" aria-current="true" aria-label="Slide <%= contador + 1 %>">
					</button>
				<% } else { %>
					<button type="button" data-bs-target="#carouselExampleIndicators"
						data-bs-slide-to="<%= contador %>" aria-label="Slide <%= contador + 1 %>">
					</button>
				<% } %>
			<% } %>
		</div>

		<div class="carousel-inner">
			<% for (let contador=0; contador < jogos.length; contador++) { %>
				<div class="carousel-item <%= (contador === 0 ? 'active' : '') %>">
					<img src="/public/img/CapaJogos/<%= jogos[contador].id %>.jpg" class="d-block w-100" alt="">
				</div>
			<% } %>
		</div>

		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
			data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Anterior</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
			data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Próximo</span>
		</button>
	</div>


	<div id="carouselExampleIndicators2" class="carousel slide custom-carousel custom-carousel-2" data-bs-ride="false">
		<div class="carousel-indicators">
			<% let qtdeBotoes = Math.ceil(jogos.length / 4); %>
			<%for (let i = 0; i < qtdeBotoes; i++) { %>
			<button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="<%= i %>" class="<%= (i === 0 ? 'active' : '') %>"
				aria-current="<%= (i === 0 ? 'true' : 'false') %>" aria-label="Slide <%= (i + 1) %>"></button>
			<% } %>
		</div>

		<div class="carousel-inner">
			<%for (let i = 0; i < jogos.length; ) { %>
			<div class="carousel-item <%= (i === 0 ? 'active' : '') %>">
				<div class="row">
					<% for (let contador=0; contador < 4 && i < jogos.length; contador++, i++) { %>
						<div class="col-sm-3 mb-3 mb-sm-0">
							<div class="card" style="width: 18rem;">
								<img src="/public/img/CapaJogos/<%= jogos[i].id %>.jpg" class="card-img-top"
									alt="...">
								<div class="card-body">
									<p class="card-text">Some quick example text to build on the card title and make up
										the
										bulk of the card’s content.</p>
								</div>
							</div>
						</div>
						<% } %>
				</div>
			</div>
			<% } %>
			<!-- Adicione mais itens de carrossel conforme necessário -->
		</div>

		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2"
			data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2"
			data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</div>