<div class="container-fluid">
	<div class="row" style="padding: 20px 0px;">
		<div class="col-md-4" id="div_capa_jogo" style="   width: 200px; margin: 0px auto;">
			<div>
				<img src="/public/img/CapaJogosVertical/<%= jogos.id_jogo %>.jpg" alt="Capajogo">
			</div>
		</div>
		<div class="col-md-8">
			<div>
				<div id="desc_jogo">
					<h3>
						<%= jogos.nm_jogo %>
					</h3>
					<p>
						<%=jogos.dt_lancamento %>
					</p>
					<div>
						<p>
							<%= jogos.desc_jogo %>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>



<div class="container-fluid">
	<div class="row">

		<div class="col-sm-12">
			<div>
				<label for="descricao_avaliacao_user">Descricao avaliacao</label>
				<input type="text" id="descricao_avaliacao_user" />
			</div>

			<div>
				<label for="avaliacao_user">Avalie o jogo:</label>
				<select id="avaliacao_user">
					<option value="0">0 estrela</option>
					<option value="1">1 estrela</option>
					<option value="2">2 estrela</option>
					<option value="3">3 estrela</option>
					<option value="4">4 estrela</option>
					<option value="5">5 estrela</option>
				</select>
			</div>

			<button type="button" onclick="cadastrarAvalicao()">
				cadastrar Avaliação
			</button>
		</div>

	</div>
</div> 

<script type="text/javascript">

	let = jogo_pagina =  <%- JSON.stringify(jogos) %> // Caso teclar "alt + shift + f " apague o espaço entre a % e o -

		async function cadastrarAvalicao() {

			let avaliacao_user = document.getElementById("avaliacao_user").value;
			let descricao_avaliacao_user = document.getElementById("descricao_avaliacao_user").value;

			if (!avaliacao_user) {
				alert("estrelas inválido!");
				return;
			}

			if (!descricao_avaliacao_user) {
				alert("descricao inválido!");
				return;
			}

			let avalicao = {
				id_jogo: jogo_pagina.id_jogo,
				avaliacao_user: avaliacao_user,
				descricao_avaliacao_user: descricao_avaliacao_user
			};

			try {

				let response = await fetch("/api/cadastrar", {
					method: "POST",
					body: JSON.stringify(avalicao),
					headers: {
						"content-type": "application/json"
					}
				});

				if (!response.ok) {
					alert("Ocorreu um erro ao cadastrar :(");
					return;
				}
				if (response.ok) {
					document.getElementById("avaliacao_user").value = "";
					document.getElementById("descricao_avaliacao_user").value = "";
					alert("Comentario Cadastrado ;)")
				}

				avaliacao_user.value = "";
				descricao_avaliacao_user.value = "";

			} catch (ex) {
				alert("Ocorreu um erro de rede ao criar a pessoa: " + ex.message)
			}
		}

</script>